<div class="header">
   <img src="../assets/favicon.png" 
        alt="Profile Pic"
        width = "40"
/>
   <div class="user"><span>Welcome - User 1</span></div>
    <div class="spacer"></div>
    <span>SportWebApp</span>
</div>

<div class="container">
   <mat-toolbar class="toolbar">
    <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item><a href="Jucatori">Jucatori</a></button>
      <button mat-menu-item><a href="Echipe">Echipe</a></button>
    </mat-menu>
   </mat-toolbar>
  <div class="container2">
    <router-outlet></router-outlet>
  </div>
  
</div>